/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none
}

a {
    text-decoration: none;

}
@font-face {
    font-family: roboto, sans-serif;
    src: url(../fonts/Roboto-Regular.ttf);
}

:root {
    --main-font: roboto, sans-serif; 
    --main-color: #0082F4;
    --black: #000;
    --white: #fff;
    --titles-size: 49px;
}

body {
    font-family: var(--main-font);
}

.container {
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
    
}
.header__nav {
    border: 1px solid rgba(2, 131, 245, .1);
}

.header {
    margin-bottom: 150px;
}
.navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* background-color: coral; */
    padding: 27px 0 12px 0;
    
    
}

.navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
    margin-top: 15px;
}

.navigation__menu-item-link {
    color: var(--black);
    font-size: 20px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    line-height: 23px;
}

.navigation__menu-item:first-child a {
    color: var(--main-color);

}

.navigation__menu-item {
    position: relative;
    padding-bottom: 34px;
    cursor: pointer;
}

.navigation__menu-item:hover .navigation__menu-item-link {
    color: var(--main-color);
}
.navigation__menu-item:first-child span {
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -12px;
}



/* hero  */

.main-button {
    font-size: 20px;
    line-height: 23px;
    color: var(--white);
    padding: 14px 30px;
    border: none;
    background-color: var(--main-color);
    border-radius: 6px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    border: 1px solid #fff;
    cursor: pointer;
}

.main-button:active {
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}

.main-button:hover {
    border: 1px solid #0082F4;
    background-color: #fff;
    color: var(--main-color);
}
.hero {
    width: 100%;
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hero__texts{
    width: 540px;
}

.main-subtitle {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 10%;
    color: var(--main-color);
    text-transform: uppercase;
}

.hero__texts-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: var(--black);
}

.hero__texts-title span {
    color: var(--main-color);
}

.hero__texts-des {
    color: var(--black);
    opacity: 60%;
    width: 436px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 30px;

}

.hero__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    /* align-items: center; */
}

.main-button--video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--white);
    border: 1px solid rgba(0, 130, 244, .1);
    border-radius: 10px;
    color: var(--black);
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
}

/* about us */

.about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 200px;
}

.about__texts {
    width: 520px;
    margin-top: 70px;
}

.main-title {
    font-size: var(--titles-size);
}

.about__texts--subtitle {
    margin-bottom: 5px;
}

.main-des {
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    opacity: 60%;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* how we work */

.work__title {
    text-align: center;
}

.work__str {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
}

.work__str-box {
    width: 325px;
    text-align: center;

}

.work__str-box-title{
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: var(--black);
    margin-top: 60px;
}

.work__str-box-des {
    opacity: 70%;
    line-height: 30px;
}

/* Our customers */

.customers {
    width: 100%;
    margin-top: 124px;
}

.customers__head {
    width: 100%;
}
.customers__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.customers__head-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
}

.customers__cards {
    width: 100%;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 67px;
       -moz-column-gap: 67px;
            column-gap: 67px;
    margin-bottom: 176px;
}

.customers__box {
    width: 420px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    border: 1px solid rgba(0, 130, 244, .1);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.customers__box:hover {
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);

}

.customers__box-aside  {
    width: 62px;
    height: 283px;
    background-color: var(--main-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.customers__box-aside img {
    position: relative;
    left: 30px;
}
.customers__box-texts {
    padding: 30px 0 0 65px;
    font-size: 24px;
}

.customers__box-texts p:first-child {
    line-height: 30px;
    color: var(--black);
    opacity: 70%;
    
}
.customers__box-texts div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    margin-top: 45px;
}
.customers__box-texts div span:first-child {
    display: block;
    width: 34px;
    height: 4px;
    opacity: .7;
    background-color: var(--black);
}
.customers__box-texts p:nth-child(2) {
    line-height: 24px;
    color: var(--black);
    opacity: .9;

}



/* sign  */

.sign {
    width: 100%;
    text-align: center;
    padding: 75px 0;
}

.sign__title {
    font-size: 31px;
    font-weight: 400;
    line-height: 36px;
    color: var(--main-color);
    
}

.sign__subtitle {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: var(--black);
    opacity: .7;
    margin-top: 15px;
    margin-bottom: 30px;
}

form {
    position: relative;
}

.sign-in {
    background: rgba(232, 236, 255, 0.3);

}
.sign__forms {
    margin-left: 60px;
}
.sign__forms-email {
    width: 487px;
    outline: none;
    border: 1px solid rgba(5, 138, 255, .2);
    border-radius: 10px;
    font-size: 20px;
    padding: 28px 80px;
    background: rgba(232, 236, 255, 0.3);

}

.sign__forms-submit {
    position: relative;
    right: 130px;
    border-radius: 10px;
}

.sign__forms-img {
    position: relative;
    left: 70px;
    top: 8px;
}

footer {
    background: rgba(255, 255, 255, 0.14);
}
.footer {
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
}
.footer__left  p{
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    opacity: .7;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.footer__menu {
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    opacity: .7;
}
.footer__menu li:first-child a {
    opacity: 1;
    font-size: 25px;
    font-weight: 700;
    line-height: 37px;
}

.footer__menu li a {
    color: black;
}
.footer__menu li {
    margin-bottom: 15px;
}
.last a {
    font-size: 20px;
}

.bottom {
    background: -webkit-gradient(linear, left top, left bottom, from(#058AFF), color-stop(97.91%, rgba(57, 55, 206, 0.87)));
    background: -o-linear-gradient(top, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
    background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);

}
.wrapper {
    padding: 34px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: var(--white);
}

.wrapper__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-button--white {
    background-color: var(--white);
    border-radius: 10px;
    color: var(--main-color);
}
.main-button--white:hover {
    color: var(--white);
    border-color: #fff;
    background: none;
}







